/* General */
body {
  background-color: #e8e6df;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

article {
  margin: 40px 0px;
  padding-bottom: 40px;
}

hr {
  border-top: 1px solid #3d3e3f;
}

th {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #aea997b3;
  padding: 15px;
  text-align: left;
}

td {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding: 15px;
  text-align: left;
}

.centered-img {
  text-align: center;
  margin: 40px 10px;
}
.centered-img img {
  color: #ff0000;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  width: 750px;
  height: auto;
}

.lightblue-centered-img {
  text-align: center;
  margin: 40px 10px;
}
.lightblue-centered-img img {
  color: #00a5abb2;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  width: 750px;
  height: auto;
}

/* Backgrounds */
.bg {
  padding: 10px 180px;
}

.alt-bg {
  background-color: #94928c3b;
  padding: 10px 180px;
}

.lightblue-bg {
  background-color: #038da24a;
  padding: 10px 180px;
}

.contact-bg {
  background-color: #3ba2034a;
  padding: 10px 180px;
}

/* Partners page */

.partners {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.partners img {
  margin: 15px 30px;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  border-color: #030592;
  border-style: solid;
}

/* Industries page */

.list-industries {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.industry {
  float: left;
  margin: 5px 20px;
  padding: 5px 50px;
  color: #3d3e3f;
  background-color: #f6f5e9;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
}

.industry:hover {
  background-color: #f6f4da;
  border-width: 2px;
  color: #242424;
}

/* Products page */
.hp-products {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.hp-product {
  float: left;
  margin: 5px 20px;
  padding: 5px 50px;
  color: #3d3e3f;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
}

.hp-product:hover {
  background-color: #2323231b;
  cursor: pointer;
  border-width: 2px;
}

.hp-product img {
  color: #3d3e3f;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  width: 250px;
  height: auto;
}

/* Home page */
.customers {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.customers img {
  margin: 15px 30px;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  border-color: #ff0000;
  border-style: dashed;
}

/* Menu */
.site-navigation {
  background-color: #332d2d;
  padding: 2px;
  margin: auto;
  top: 0;
  position: sticky;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  float: left;
}

.menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

.logo {
  width: 125px;
  height: auto;
  display: block;
  padding: 4px 70px;
}

.contact-btn {
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
  display: block;
  margin: 4px 50px;
  padding: 10px 30px;
}

.contact-btn img {
  width: 20px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.login-btn {
  text-decoration: none;
  background-color: #181818;
  border-radius: 4px;
  display: block;
  margin: 4px 50px;
  padding: 10px 30px;
}

.login-btn img {
  width: 20px;
  height: auto;
  float: left;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #2f2b2b;
  color: white;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
}

footer li {
  list-style-type: none;
}

footer a {
  color: white;
}

/* Contact */

.contact-f {
  background-color: #3ba2034a;
  padding: 10px 180px;
  border-radius: 15px;
}

/* Login */

.login-f {
  background-color: #a203034a;
  padding: 10px 180px;
  border-radius: 15px;
}

/* Sign up */

.su-f {
  background-color: #038da24a;
  padding: 10px 180px;
  border-radius: 15px;
}

/* Typography */
h1, h2, h3, h4, p, a, blockquote, li {
  font-family: 'Courier New', monospace;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
  margin: 5px 0px;
}

ol {
  margin-left: 15px;
}

h1 {
  font-size:50px;
}

h2 {
  font-size:40px;
  text-decoration: underline;
}

h3 {
  font-size:26px;
  text-decoration: underline;
}

h4 {
  font-size:20px;
  text-decoration: underline;
}

a {
  color: #006b8f;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  font-size: 20px;
  border-left: 5px solid grey;
  margin: 1.5px 5px;
  padding: 10px 20px;
  font-style: italic;
}

/* Forms */
input[type=text], input[type=email], input[type=password], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea {
  height: 200px;
}

input[type=submit] {
  background-color: white;
  color: #332d2d;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 15px;
}

input[type=submit]:hover {
  background-color: #c0c0c0;
}

input[type=submit]:disabled {
  background-color: #868585;
  cursor: default;
}

.su-f h2, .contact-f h2, .login-f h2 {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.su-f label, .contact-f label, .login-f label {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  text-align: left;
}

.su-f p, .contact-f p, .login-f p {
  color: #ffffff; 
}

.su-f li, .contact-f li, .login-f li {
  color: #ffffff; 
}

.su-f blockquote, .contact-f blockquote, .login-f blockquote {
  border-left: 5px solid #ff000067;
}